body{
  display : flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.passlength{
  display: flex;
  justify-content:space-between;
  width: 50vw;


}
.main {
  
  width : 60vw;
  height: 40vh;
}

.checkbox{
  width: 100%;
  text-align: start;
}
.input{
  width: 50vw;
  height: 3vh;
  border-radius: 5px;
  position: relative;
}
.btngen{
  margin-top: 10px;
  width: 51vw;
  height: 5vh;
  background-color: rgb(47, 47, 240);
  border: 4px solid rgb(64, 64, 199);
  color : white;
  border-radius: 5px;


}

.option{
  width : 120px;
  margin-top: 20px;
  border-radius: 5px;
  padding-left: 10px;
  
}
.copy{
 position: absolute;
 height: 3.7vh;
 background-color: rgb(9, 137, 137);
 color: white;
 border:none;
 cursor: pointer;

}

.passh1{
  text-align: center;
}